* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

img {
    width: 50px;
    display: block;
    margin-bottom: 2em;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin-top: 0;
    text-transform: uppercase;
}

a {
    background: hsl(0, 0%, 95%);
    padding: 0.5em 1.25em;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 2em;
}

.sedan-section > a {
    color: hsl(31, 77%, 52%)
}

.suv-section > a {
    color: hsl(184, 100%, 22%);
}

.luxury-section > a {
    color: hsl(179, 100%, 13%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 2em;
    line-height: 1.5;
}

div {
    padding: 3em;
}

.sedan-section {
    background: hsl(31, 77%, 52%);
}

.suv-section {
    background: hsl(184, 100%, 22%);
}

.luxury-section {
    background: hsl(179, 100%, 13%);
}

.sedan-image {
    width: 5em;
}

@media (min-width: 880px) {
    .car-section-container {
        display: flex;
        align-content: center;
        justify-content: center;
        border-radius: 20px;
    }
    .car-section-container > *{
        padding: 7em;
    }

    .sedan-section {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .luxury-section {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
